
.addTask {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
  padding-left: 30px;
}

.taskInput {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
}

.taskInput input {
  width: 100%;
  height: 70%;
  font-size: 1.2em;
  padding: 0 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 9px;
}

.taskSubmit {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 5px;
}

.taskSubmit svg {
  width: 40px;
  transform: rotate(43deg);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  fill: black;
}

.taskSubmit svg:hover {
  transform: rotate(-43deg);
  background-color: rgb(110, 210, 243);
  fill: black;
  transition: all 0.3s ease-in-out;
}