header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

header h1 {
  font-family: Dirtyline;
  font-size: 7em;
  padding-top: 40px;
}