.listOfTask {
  width: 100%;
  height: 70%;
}

.scroll-tasklist {
  width: 100%;
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.scroll-tasklist::-webkit-scrollbar {
  display: none;
}

.task {
  width: 95%;
  height: 80px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 3px 3px 2px black;
  margin-bottom: 10px;
  display: flex;
}
