.listOfTask {
  width: 100%;
  height: 85%;
}

.scroll-tasklist {
  width: 100%;
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 10px;
}

.scroll-tasklist::-webkit-scrollbar {
  display: none;
}

.task {
  width: 100%;
  height: 80px;

  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 5px 5px 2px black;
  margin-bottom: 10px;
  display: flex;
}
