.todo-menu {
  width: 15vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-toogle {
  width: 70%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 20px;
  background-color: rgb(237, 236, 236);
}

.menu-toogle svg {
  width: 40px;
}

.menu-toogle p {
  font-size: 2.5em;
  font-weight: bold;
}


/* vvv------------------ */

.menu-button{
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.menu-button button{
  width: 100%;
  height: 4vh;
  font-size: 1.5em;
  background-color: transparent;
  text-align: start;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.menu-button button:hover{
   background-color: #000080;
  color: white;
}


