.taskDetails {
  width: 95%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.taskName {
  font-size: 2em;
  font-weight: bold;
}

.taskDelete {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskDelete svg {
  width: 25px;
  fill: black;
}

.taskDelete svg:hover {
  fill: red;
  width: 27px;
}

