.taskDetails {
  width: 95%;
  height: 100%;
  padding-left: 20px;
}

.taskName {
  font-size: 2em;
  font-weight: bold;
}

.markCompleted {
  background-color: white;
  cursor: default;
  border: 1px solid black;
  border-radius: 9px;
  width: 20%;
  text-align: center;
}

.markCompleted:hover {
  background-color: lightgreen;
}

.taskDelete {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskDelete svg {
  width: 25px;
  fill: black;
}

.taskDelete svg:hover {
  fill: red;
  width: 27px;
}

