*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: black;
    color: white;

}

.mini-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    place-items: center;
    gap: 30px;
    padding-top: 30px;
    scroll-behavior: smooth;
}