@import "tailwindcss";

@font-face {
    font-family: Dirtyline;
    src: url(../src/assets/fonts/Dirtyline.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../src/assets/fonts/Roboto.ttf);
}

@font-face {
    font-family: AmoreChristmas;
    src: url(../src/assets/fonts/AmoreChristmas.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: Roboto;
}

body{
    background-color: black;
    color: white;
}