.counter {
  width: 300px;
  height: 350px;
  border: 1px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(1, 69, 1);
}

.count-display,
.count-button {
  width: 100%;
  height: 60%;
  border: 1px solid white;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-display {
  background-color: rgb(131, 8, 32);
}

.count-display p {
  font-size: 7em;
}

.count-button {
  gap: 30px;
  border: none;
}
.count-button button {
  width: 90px;
  font-size: 5em;
  border: 1px solid white;
  border-radius: 9px;
}

.resetBtn {
  font-size: 1.5em;
  padding: 3px 6px;
}
