.inputText {
  width: 300px;
  height: 350px;
  border: 1px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
