.toggleBtn {
  width: 300px;
  height: 350px;
  border: 1px solid white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.toggleBtn button {
  font-size: 2em;
  padding: 5px 40px;
  border-radius: 12px;
  box-shadow: 0 0 40px white;
}
