

main {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
}


/* List of task */
.todo-list {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


/* list of task */
