:root{
  --primary-color: #000080;
  --secondary-color: #9E2A3A;
  --accent-color: #FF0000;
  --font: Roboto;
  --font-color: #fff;
}

@font-face {
  font-family: Dirtyline;
  src: url(/src/assets/fonts/Dirtyline.otf);
}

@font-face {
  font-family: Gravel;
  src: url(/src/assets/fonts/Gravelo.otf);
}

@font-face {
  font-family: Roboto;
  src: url(/src/assets/fonts/Roboto.ttf);
}

@font-face {
  font-family: AmoreChristmas;
  src: url(/src/assets/fonts/AmoreChristmas.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: var(--font);
}
