.movieCard {
  border: 1px solid black;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 9px;
}

.movieCard:hover{
    background-color: rgb(25, 25, 25);
    transform: scale(1.01);
}

.movie-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-details{
    padding-top: 5px;
}
.movie-title {
  font-weight: bold;
}

.movie-genre {
  opacity: 0.5;
}

.like-btn svg {
  width: 25px;
  stroke: white;
  margin-right: 10px;
}

.like-btn svg:hover {
  fill: rgb(225, 51, 51);
  stroke: none;
}
